# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

poetry.lock
.gitignore
agent/backend/src/__pycache__/
agent/backend/src/.mypy_cache/
agent/backend/src/Tools/__pycache__/
agent/backend/src/Tools/.mypy_cache/
agent/backend/src/Agent/__pycache__/
agent/backend/src/Agent/.mypy_cache/

